С-требования
1. Введение
1.1. Цель
    Этот документ описывает требования заказчика разрабатываемого ПО SNTUtilsBills. 
    Данный проект является исключительно проектом для обучения некоторым аспектам проектирования и разработки в рамках Python и ООП
1.2. Данный документ охватывает требования к версии 0.0.1 ПО SNTUtilsBills
1.3. Определения, термины, сокращения
    [Наполняется по мере заполнения документа]
