С-требования
1. Введение
    1.1. Цель
        Этот документ описывает требования заказчика разрабатываемого ПО SNTUtilsBills. 
        Данный проект является исключительно проектом для обучения некоторым аспектам проектирования и разработки в рамках Python и ООП
    1.2. Данный документ охватывает требования к версии 0.0.1 ПО SNTUtilsBills
    1.3. Определения, термины, сокращения
        [Наполняется по мере заполнения документа]
    1.4. Ссылки
        [Наполняется по мере заполнения документа]    
2. Общее описание
    SNTUtilsBills это ПО для учета и подсчета коммунальных счетов в СНТ. ПО должно хранить историю начислений и выставленных счетов. Должно автоматически рассчитывать платежи на основании показаний счетчиков, показывать сумму задолженности, иметь возможность фиксировать целевые и регулярные взносы. В рамках данного проекта пользовательский интерфейс не планируется, взаимодействие будет осуществляться средствами REST-API. ПО должно возвращать списки платежей по запросу, фиксировать вручную факт оплаты, иметь возможность хранения элементов переписки с руководством СНТ и платежные ведомости в виде изображений. Также ПО должно формировать блоки переписки с руководством СНТ для последующей отправки, вручную, для оповещения о факте оплаты.
    2.1. Перспективы
        SNTUtilsBills должна удовлетворять нужны члена СНТ в автоматизации процессов расчетов оплаты, получения статистики платеже и формирования переписки с руководством СНТ
        2.1.1. Концепции операций
            SNTUtilsBills должна выполнять следующие задачи:
                а. Давать пользователю возможность хранить и просматривать историю платежей
                б. Давать пользователю возможность хранить и просматривать историю показаний счетчиков
                в. Автоматически считать коммунальные платежи по показаниям счетчиков
                г. Показывать задолженности и переплаты
                д. Иметь возможность фиксировать факт оплаты и сумму оплаты
                е. Иметь возможность фиксировать некоммунальные взносы в СНТ
                ж. Иметь возможность просматривать историю взносов в СНТ
                з. Иметь возможность хранить элементы переписки с руководством СНТ
                и. Иметь возможность хранить платежные поручения
                к. Автоматически формировать текст ответа руководству СНТ с целью отчета об оплате платежей и взносов.
        2.1.2 Концепции пользовательского интерфейса
            Пользовательский интерфейс должен быть реализован в виде набора методов REST-API. С возможностью последующей интеграции с графическим интерфейсом. Тело API запросов должно представлять структуру JSON с, по возможности, плоской структурой. Структура запроса и ответа, всех элементов WEB-запросов должна соответствовать спецификации REST-API. https://standards.rest/
        2.1.3 Концепция хранения данных.
            Данные о платежах и показаниях должны храниться в БД с возможностью перехода на другую СУБД. Платежные поручения и переписка должна храниться в формате PNG в заархивированном виде и быть доступным для скачивания по ссылке. Доступ к ссылке, также, храниться в БД. Сгенерированные отчеты руководству СНТ, также, хранятся БД.
        2.1.4 Концепция статуса оплаты.
            SNTUtilsBills должно иметь ряд статусов. Полностью оплачены все платежи, оплачены только коммунальные, оплачены только взносы, долг(не оплачены до конца ни коммунальные ни взносы). При запросе статуса должна предоставляться информация о задолженности, сумма и тип платежа (коммунальные или взносы). Пользователь должен иметь возможность фиксировать факт оплаты, на основании которого будет изменяться статус.
        2.1.4 Аппаратные интерфейсы
            Нет
        2.1.5 Программные интерфейсы
            Нет
        2.1.6 Коммуникационные интерфейсы.
            Взаимодействие с ПО SNTUtilsBills происходит по протоколу REST-API в соответствии с описанием на https://standards.rest/
        2.1.7 Операции
            Должны быть реализованы следующие операции:
            а. Внести показания счетчика
            б. Получить сумму платежа
            в. Сохранить переписку
            г. Сохранить платежную ведомость
            д. Получить выписку по задолженности
            е. Сформировать отчет руководству СНТ
            ж. Получить историю платежей за период
            з. Скачать переписку 
            и. Скачать платежную ведомость
