С-требования
1. Введение
    1.1. Цель
        Этот документ описывает требования заказчика разрабатываемого ПО SNTUtilsBills. 
        Данный проект является исключительно проектом для обучения некоторым аспектам проектирования и разработки в рамках Python и ООП
    1.2. Данный документ охватывает требования к версии 0.0.1 ПО SNTUtilsBills
    1.3. Определения, термины, сокращения
        1.3.1. SNTUtilsBills - разрабатываемый программный продукт
        1.3.2. СНТ - Садовое Некоммерческие Товарищество
        1.3.3. Коммунальный платеж (коммунальный взнос) - платеж оплачиваемый по тарифам и показаниям счетчиков
        1.3.4. Некоммунальный платеж (некоммунальный взнос) - любой платеж отличный от коммунального
        1.3.5. Целевой взнос - взнос в СНТ на реализацию его правлением одной цели, например, засыпка дорог гравием
        1.3.6. Нецелевые взносы - регулярные взносы в кассу СНТ, например, членский взнос.
        1.3.7. Текст ответа руководству СНТ - текст описывающий список платежей, показаний счетчика и пр., предоставляемый руководству с целью отчета о совершенных платежах
        1.3.8. Платежное поручение  документ из банка подтверждающий факт платежа.
        1.3.9. Текст переписки с руководством СНТ - переписка с руководством СНТ в виде изображения (скриншота)
        [Наполняется по мере заполнения документа]
    1.4. Ссылки
        1.4.1. https://standards.rest/ - Спецификация REST-API
        [Наполняется по мере заполнения документа]    
2. Общее описание
    SNTUtilsBills это ПО для учета и подсчета коммунальных счетов в СНТ. ПО должно хранить историю начислений и выставленных счетов. Должно автоматически рассчитывать платежи на основании показаний счетчиков, показывать сумму задолженности, иметь возможность фиксировать целевые и регулярные взносы. В рамках данного проекта пользовательский интерфейс не планируется, взаимодействие будет осуществляться средствами REST-API. ПО должно возвращать списки платежей по запросу, фиксировать вручную факт оплаты, иметь возможность хранения элементов переписки с руководством СНТ и платежные ведомости в виде изображений. Также ПО должно формировать блоки переписки с руководством СНТ для последующей отправки, вручную, для оповещения о факте оплаты.
    2.1. Перспективы
        SNTUtilsBills должна удовлетворять нужны члена СНТ в автоматизации процессов расчетов оплаты, получения статистики платеже и формирования переписки с руководством СНТ
        2.1.1. Концепции операций
            SNTUtilsBills должна выполнять следующие задачи:
                а. Давать пользователю возможность хранить и просматривать историю платежей
                б. Давать пользователю возможность хранить и просматривать историю показаний счетчиков
                в. Автоматически считать коммунальные платежи по показаниям счетчиков
                г. Показывать задолженности и переплаты
                д. Иметь возможность фиксировать факт оплаты и сумму оплаты
                е. Иметь возможность фиксировать некоммунальные взносы в СНТ
                ж. Иметь возможность просматривать историю взносов в СНТ
                з. Иметь возможность хранить элементы переписки с руководством СНТ
                и. Иметь возможность хранить платежные поручения
                к. Автоматически формировать текст ответа руководству СНТ с целью отчета об оплате платежей и взносов.
        2.1.2 Концепции пользовательского интерфейса
            Пользовательский интерфейс должен быть реализован в виде набора методов REST-API. С возможностью последующей интеграции с графическим интерфейсом. Тело API запросов должно представлять структуру JSON с, по возможности, плоской структурой. Структура запроса и ответа, всех элементов WEB-запросов должна соответствовать спецификации REST-API. [1.4.1.]
        2.1.3 Концепция хранения данных.
            Данные о платежах и показаниях должны храниться в БД с возможностью перехода на другую СУБД. Платежные поручения и переписка должна храниться в формате PNG в заархивированном виде и быть доступным для скачивания по ссылке. Доступ к ссылке, также, храниться в БД. Сгенерированные отчеты руководству СНТ, также, хранятся БД.
        2.1.4 Концепция статуса оплаты.
            SNTUtilsBills должно иметь ряд статусов. Полностью оплачены все платежи, оплачены только коммунальные, оплачены только взносы, долг(не оплачены до конца ни коммунальные ни взносы). При запросе статуса должна предоставляться информация о задолженности, сумма и тип платежа (коммунальные или взносы). Пользователь должен иметь возможность фиксировать факт оплаты, на основании которого будет изменяться статус.
        2.1.4 Аппаратные интерфейсы
            Нет
        2.1.5 Программные интерфейсы
            Нет
        2.1.6 Коммуникационные интерфейсы.
            Взаимодействие с ПО SNTUtilsBills происходит по протоколу REST-API в соответствии с [1.4.1]
        2.1.7 Операции
            Должны быть реализованы следующие операции:
            а. Внести показания счетчика
            б. Получить сумму платежа
            в. Сохранить переписку
            г. Сохранить платежную ведомость
            д. Получить выписку по задолженности
            е. Сформировать отчет руководству СНТ
            ж. Получить историю платежей за период
            з. Скачать переписку 
            и. Скачать платежную ведомость
    2.2. Функции продукта
        2.1.1.[Важно] Вариант использования "Внести показания счетчика"
        Пользователь отправляет WEB-запрос с актуальными показаниями счетчика и датой их получения. В ответ на запрос получает информацию из п.2.1.5
        2.1.2.[Важно] Вариант использования "Запланировать оплату"
        Пользователь отправляет WEB-запрос с суммой запланированного платежа. В ответ получает сумму задолженности или переплаты
        2.1.3.[Важно] Вариант использования "Зафиксироать факт оплаты"
        Пользователь отправляет WEB-запрос фиксирующий факт оплаты. Также есть возможность отправить с этим запросом платежное поручение. В ответ на запрос получает такст отчета руководству СНТ
        2.1.4.[Не важно] Вариант использования "Прикрепить переписку с руководством СНТ"
        Пользователь отпрваляет скриншот переписки, в ответ получает результат, успех или неуспех
        2.1.5.[Важно] Вариант использования "Получить последнюю запись"
        Пользователь запрашивает последнюю запись об оплате. В ответ получает следующую информацию:
            а. дату последней записи
            б. показания счетчика за предыдущий период
            в. актуальные показания счетчика
            г. разницу показаний
            д. текущий тариф
            е. сумму к оплате по коммунальным платежам
            ж. общую сумму к оплате по некомунальным платежам
            з. сумму к оплате по целевым взносам (долг)
            и. сумму к оплате по нецелевым взносам (долг)
            к. общую задолженность
            л. текст ответа руководству СНТ
            м. проиче прикрепленные к записи данные такие как переписка с руководством СНТ и платежное поручение
        2.1.6.[Важно] Вариант использования "Установить тариф"
        Пользователь отправляет новые значения тарифа за коммунальные платежи. в ответ получает подтверждение успеха или неуспеха
        2.1.7[Важно] Вариант использования "Добавить целевой взнос"
        Пользователь отправляет название и сумму целевого взноса, в ответ получает данные из п.2.1.5
        2.1.8[Важно] Вариант использования "Добавить нецелевой взнос"
        Пользователь отправляет название и сумму нецелевого взноса, в ответ получает данные из п.2.1.5
        2.1.9[Не важно] Вариант использования "Получить статистику за период"
        Пользователь отправляет интервал дат. В ответ получает набор данных из п.2.1.5 с разбиением и сортировкой по убыванию даты последжне записи.
        

