D-требования
1. Введение
    1.1. Цель
        Этот документ описывает детальные требования к разработчику разрабатываемого ПО SNTUtilsBills. 
        Данный проект является исключительно проектом для обучения некоторым аспектам проектирования и разработки в рамках Python и ООП
    1.2. Данный документ охватывает требования к версии 0.0.1 ПО SNTUtilsBills
    1.3. Определения, термины, сокращения
        1.3.1. SNTUtilsBills - разрабатываемый программный продукт
        1.3.2. СНТ - Садовое Некоммерческие Товарищество
        1.3.3. Коммунальный платеж (коммунальный взнос) - платеж оплачиваемый по тарифам и показаниям счетчиков
        1.3.4. Некоммунальный платеж (некоммунальный взнос) - любой платеж отличный от коммунального
        1.3.5. Целевой взнос - взнос в СНТ на реализацию его правлением одной цели, например, засыпка дорог гравием
        1.3.6. Нецелевые взносы - регулярный взнос в кассу СНТ - членский взнос.
        1.3.7. Текст ответа руководству СНТ - текст описывающий список платежей, показаний счетчика и пр., предоставляемый руководству с целью отчета о совершенных платежах
        1.3.8. Платежное поручение  документ из банка подтверждающий факт платежа.
        1.3.9. Текст переписки с руководством СНТ - переписка с руководством СНТ в виде изображения (скриншота)
        [Наполняется по мере заполнения документа]
    1.4. Ссылки
        1.4.1. https://standards.rest/ - Спецификация REST-API
        [Наполняется по мере заполнения документа]    
2. Требования к интерфейсам
    2.1. Пользовательский интерфейс
        2.1.1. Пользовательский интерфейс должен соответствовать спецификации REST-API (см. 1.4.1.)
        2.1.2. Все запросы пользователя должны обрабатываться только для авторизованного пользователя. Если пользователь не авторизован, должен приходить ответ 401
        2.1.3. Время жизни сессии авторизации не должно превышать 10 мин.
        2.1.4. Варианты использования "Получить последнюю запись" и "Получить статистику за период" - GET-запросы
        2.1.5. Варианты использования "Запланировать оплату", "Внести показания счетчика", "Зафиксировать факт оплаты", "Прикрепить переписку с руководством СНТ", "Добавить целевой взнос", "Добавить нецелевой взнос", "Авторизация" - POST-запросы
        2.1.6. Вариант использования "Установить тариф" - PUT-запрос
        2.1.7. Тело запросов и ответ на запрос должны быть в виде JSON с максимально плоской структурой
    2.2. Программные интерфейсы
        2.2.1. В качестве базы данных должна использоваться БД SQLite, однако реализация должна иметь возможность изменить ее на другую реляционную БД.
3. Детальные требования
    3.1. Описание последовательностей
        3.1.1. Варианты использования "Внести показания счетчика", "Запланировать оплату", "Зафиксировать факт оплаты", "Прикрепить переписку с руководством СНТ", "Получить последнюю запись", "Добавить целевой взнос", "Добавить нецелевой взнос", "Получить статистику за период"
        Для этих вариантов необходимы следующие классы: User, Payment, PaymentCollection, PaymentRecord, DBConnection
            @startuml
            actor Actor as userActor
            userActor -> User : Авторизация
            User -> PaymentCollection : Создать
            PaymentCollection -> PaymentRecord : Создать
            PaymentRecord -> Payment : Создать
            Payment -> DBConnection : Создать
            database Database as DB
            DBConnection ->  DB : Запрос
            DB --> DBConnection : Вернуть данные
            DBConnection --> Payment : Вернуть
            Payment --> PaymentRecord : Вернуть
            PaymentRecord --> PaymentCollection : Вернуть
            PaymentCollection --> User : Вернуть
            User --> userActor : : Вернуть
            @enduml
        3.1.2. Вариант использования"Установить тариф".
        Для этого варианта необходимы следующие классы: User, DBConnection
            @startUml
            actor Actor as userActor
            userActor -> User : Авторизация
            User -> DBConnection : Создать
            database Database as DB
            DBConnection ->  DB : Запрос
            DB --> DBConnection : Вернуть данные
            DBConnection --> User : Вернуть
            User --> userActor : : Вернуть
            @endUml
    3.2. Классы для классификации детальных требований
        3.2.1. User
        Класс пользователя. Требуется для логики авторизации.
        3.2.2. PaymentRecord
        Класс описывающий одну платежную запись.
            3.2.2.1 Атрибуты
            Дата создания записи в БД, дата планирования платежа, дата фиксации платежа, Платежы (класс Payment), ссылка на прикрепленную переписку, ссылка на прикрепленную платежку, ответ руководству СНТ, общая задолженность.
        3.2.3. PaymentCollection
        Класс описывающий коллекцию платежных записей
            3.2.3.1 Атрибуты
            Объекты класса PaymentRecord
        3.2.4 Payment
        Класс описывающий один платеж, является классом родителем для классов ComunalPayment, TargetPayment и NonTargetPayment
        3.2.5 ComunalPayment
        Класс описывающий коммунальные платежи
            3.2.5.1 Атрибутызапросы
            Текущие показания счетчика, сумма платежа, предыдущие показания счетчика, тариф, признак оплаты (оплачены, не оплачены), сумма задолженности
        3.2.6 TargetPayment
        Класс описывающий Целевой платеж
            3.2.6.1 Атрибуты
            Сумма платежа, признак оплаты (оплачен, не оплачен), сумма задолженности, цель платежа
        3.2.7 NonTargetPayment
        Класс описывающий ежегодный членский взнос в СНТ
            3.2.7.1 Атрибуты
            Сумма платежа, признак оплаты (оплачен, не оплачен), сумма задолженности
        3.2.8 DBConnection
        Класс описывающий подключение к БД, запросы в БД и обработку возвращаемых данных
            3.2.8.1 Атрибуты
            Неясны. Будут доработаны в ходе проектирования
        3.2.9 API
        Класс описывающий логику обработки входящих запросов
            3.2.9.1. Атрибуты
            Неясны. Будут доработаны в ходе проектирования
        3.2.10 SNTUtilsBills
        Класс описывающий основной продукт. Этот класс является классом через который будут вызываться последовательности описанные в п. 3.1 и 3.2
            3.2.10.1 Атрибуты
            Нет.
            3.2.10.2 Функции 
                3.2.10.2.1 Внести показания счетчика - enter_meter_readings
                Принимает значения показаний счетчика. Вызов всегда инициирует новую запись в БД. Создается экземпляр класса PaymentRecord, атрибутом которого является новый экземпляр класса ComunalPayment. Для класса PaymentRecord заполняются атрибуты дата создания записи в БД, Платежы, общая задолженность и ответ руководству СНТ. Для класса ComunalPayment заполняются атрибуты Текущие показания счетчика, сумма платежа, предыдущие показания счетчика, тариф, признак оплаты (оплачены, не оплачены) и сумма задолженности.
                Создается экземпляр класса DBConnection средствами которого осуществляется запись в БД и получение информации необходимой для заполнения атрибутов классов
                3.2.10.2.2 Запланировать оплату - schedule_payment
                Принимает запланированную сумму оплаты. Вначале поверяется сумма задолженности по коммунальным платежам и списывается из запланированной суммы максимальное значения для закрытия оплаты коммунальных платежей. Данные по коммунадьному платежу соответствующе редактируются. Если отстается сумма то она распределяется на целевой взнос, если остается еще - на нецелевой. Соответстующие значения платежей рдактируются в БД. Суммы звдолженностей и факт оплаты изменяются.

